.footer{
  width: 100%;
  height: 210px;
  padding-top: 70px;
  margin-bottom: 70px;
  border-top: 1px solid #c9c9c9;
  margin-top: 100px;
  position: relative;
  .footer-logo{
    width: 120px;
    height: 120px;
    position: absolute;
    top: -64px;
    left: 50%;
    margin-left: -60px;
    background: url("http://www.bbratstvo.com/sites/all/themes/main/css/images/logo-footer.png");
    a{
      display: block;
      width: 120px;
      height: 120px;
    }
  }
  .container{
    .col-sm{
      h4{
        color: $primary-text-color;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
      }
      ul{
        li{
          margin-bottom: 10px;
          a{
            font-size: 16px;
            color: $primary-text-color;
          }
        }
      }
    }
    .sign{
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 0.9em;
      text-align: left;
      color: #8a8a8a;
      p{
        margin-bottom: 0;
      }
    }
  }
}