header.top-header{
  height: 130px;
  padding-top: 12px;
  background: $primary-background-color url('/app/themes/sage/assets/images/top-background.png');
  .logo-main{
    float: left;
  }
  .company-name{
    width: 500px;
    float: left;
    margin: 10px 0 0 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    .name{
      display: inline-block;
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .sub-name{
      display: inline-block;
      text-transform: initial;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.top-navigation{
  height: 40px;
  display: flex;
  align-items: center;
  background: $primary-color;
  color: $secondary-text-color;
  a.main-menu-link{
    font-size: 16px;
    color: $secondary-text-color;
    line-height: 40px;
    &:hover{
      color: darken($secondary-text-color, 15%)
    }
  }
  .social{
    a{
      color: $secondary-text-color;
      font-size: 24px;
      margin-left: 5px;
      &:hover{
        color: darken($secondary-text-color, 15%)
      }
    }
  }
  .main-menu{
    display: block;
    position: absolute;
    top: 170px;
    left: 0;
    width: 256px;
    height: 100%;
    background: $primary-background-color;
    box-shadow: 3px 0 3px #9e9e9e;
    ul{
      display: flex;
      flex-direction: column;
      li{
        list-style: none;
        font-size: 16px;
        font-weight: bold;
        &:hover{
          background-color: darken($primary-background-color, 15%);
          cursor: pointer;
        }
        a{
          padding: 0.75em 1em;
          display: inline-block;
          width: 100%;
          height: inherit;
          color: $primary-text-color
        }
      }
    }
  }
}
