header.top-header{
  height: 130px;
  padding-top: 12px;
  background: $primary-background-color url('/app/themes/sage/assets/images/top-background.png');
  .logo-main{
    float: left;
  }
  .company-name{
    width: 500px;
    float: left;
    margin: 10px 0 0 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    .name{
      display: inline-block;
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .sub-name{
      display: inline-block;
      text-transform: initial;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.top-navigation{
  height: 40px;
  display: flex;
  align-items: center;
  background: $primary-color;
  color: $secondary-text-color;
  a.main-menu-link{
    font-size: 16px;
    color: $secondary-text-color;
    line-height: 40px;
    &:hover{
      color: darken($secondary-text-color, 15%)
    }
  }
  .social{
    a{
      color: $secondary-text-color;
      font-size: 24px;
      margin-left: 5px;
      &:hover{
        color: darken($secondary-text-color, 15%)
      }
    }
  }
  .main-menu{
    display: block;
    position: absolute;
    top: 170px;
    left: 0;
    width: 256px;
    height: 100%;
    background: $primary-background-color;
    box-shadow: 3px 0 3px #9e9e9e;
    transition: all 0.5s;
    z-index: 100;
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
    ul{
      display: flex;
      flex-direction: column;
      li.menu-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-size: 16px;
        font-weight: bold;
        a{
          padding: 0.75em 1em;
          display: inline-block;
          width: 100%;
          height: inherit;
          color: $primary-text-color;
          text-decoration: none;
        }
        i{
          display: none;
          padding: 0.5em;
          color: lighten($primary-text-color, 15%)
        }
        &:hover{
          background-color: darken($primary-background-color, 15%);
          cursor: pointer;
        }
      }
      li.menu-item-has-children{
        &:hover{
          background-color: inherit;
        }
        a{
          &:hover{
            background-color: darken($primary-background-color, 15%);
            cursor: pointer;
          }
        }
        i{
          display: flex;
          align-items: center;
          height: 100%;
          padding-right: 0.5em;
          padding-bottom: 0.5em;
          padding-top: 0.5em;
          margin-left: 0;
          &:hover{
            background-color: darken($primary-background-color, 15%);
            cursor: pointer;
          }
        }
        ul.sub-menu {
          display: block;
          position: absolute;
          width: 256px;
          height: auto;
          left: 256px;
          margin-top: 24px;
          background: $primary-background-color;
          box-shadow: 3px 0 3px #9e9e9e;
          transition: all 0.5s;
          z-index: 100;
          visibility: hidden;
          transform: translate3d(-200%, 0, 0);
          padding: 0;
          li {
            a {
              padding: 0.75em 1em;
              display: inline-block;
              width: 100%;
              height: inherit;
              color: $primary-text-color;
              text-decoration: none;
            }
            i {
              display: none;
            }
            &:hover {
              background-color: darken($primary-background-color, 15%);
              cursor: pointer;
            }
          }
        }
        ul.sub-menu.active{
          visibility: visible;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  .main-menu.active{
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
.extended-navigation{
  margin-top: 20px;
  .category-group-list{
    display: flex;
    justify-content: space-between;
    height: auto;
    li{
      display: flex;
      background-color: $secondary-background-color;
      text-transform: uppercase;
      list-style: none;
      justify-content: center;
      align-items: center;
      text-align: center;
      white-space: pre-wrap;
      padding: 5px 10px;
      font-weight: bold;
      border-bottom: 3px solid #767a9e;
      margin-right: 20px;
      a{
        color: $secondary-text-color
      }
      &:hover{
        //background-color: lighten($secondary-background-color, 15%);
        background-color: #767a9e;
        border-color: $secondary-background-color;
        cursor: pointer;
        a{
          text-decoration: none;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}