// Grid settings
$main-sm-columns:                     12;
$sidebar-sm-columns:                   4;
$primary-color:                  #222548;
$primary-text-color:               black;
$primary-background-color:         white;
$secondary-text-color:             white;
$secondary-background-color:       $primary-color;
